/* ----base---- */
:root {
  --color-black: #292929;
  --color-accent-green: #00b068;
  --color-white: #f0f0f0;
  --color-light-grey: #e4e5e6;
  --color-light-accent: #bcdfd1;
  --color-hover-green: #009156;
  --color-error: #e74a3b;
  --color-hover-grey: #bbbbbb;
}
body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 0;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: "Impact", sans-serif;
  font-size: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.brand-color {
  color: var(--color-accent-green);
}
.section {
  padding: 40px 0;
}
.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 62px 0;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .logo {
    font-size: 32px;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding: 82px 0;
  }
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}

/* Header */
.nav-header {
  display: none;
}
.header {
  padding: 20px 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger-button {
  display: block;
  border: none;
  width: 24px;
  height: 24px;
  background: transparent;
  padding: 0;
  fill: var(--color-black);
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
  .header {
    padding: 32px 0;
  }
  .nav-header {
    display: flex;
  }
  .nav-list {
    display: flex;

    gap: 40px;
  }
  .link {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--color-black);
    transition: color 0.3s;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--color-accent-green);
  }
}
@media screen and (min-width: 1158px) {
  .header {
    max-width: 1280px;
  }
}
/*---- Hero 320----*/
.dots-box-bottom {
  display: none;
}
.hero-section {
  padding-top: 112px;
}
.hero-container {
  position: relative;
}
.decor-points {
  position: absolute;
  top: -80px;
  right: -8px;
  z-index: -1;
}
.hero-title {
  font-family: "Impact", sans-serif;
  font-size: 64px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 320px;
}
.hero-accent {
  color: var(--color-accent-green);
}
.hero-image-box {
  display: none;
}
.hero-btn-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  margin-bottom: 40px;
  position: relative;
}
.hero-btn {
  min-width: 165px;
  height: 92px;
  border: none;
  border-radius: 16px;
  background-color: var(--color-light-accent);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-accent-green);
}
.arrow-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-black);
  position: absolute;
  top: 32px;
  left: 42px;
  animation: spin 7s linear infinite;
}
/* .arrow-text:activ,
.arrow-text:hover,
.arrow-text:focus {
  color: var(--color-light-accent);
} */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.arrow-icon {
  stroke: 2px;
  fill: var(--color-accent-green);
}

.hero-text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 72px;
  max-width: 320px;
}
/*---- Hero 768----*/

@media screen and (min-width: 768px) {
  .dots-box-bottom {
    display: flex;
    position: relative;
  }
  .hero-title {
    font-size: 136px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    margin-bottom: 60px;
    max-width: 704px;
  }
  .hero-text {
    font-size: 20px;
    line-height: 1.6;
  }
  .hero-btn-box {
    margin-bottom: 40px;
    max-width: 416px;
    position: relative;
  }
  .decor-points {
    right: 32px;
  }
  .decor-points-bottom {
    position: absolute;
    bottom: 168px;
    left: 132px;
    z-index: -1;
  }
  .hero-btn {
    min-width: 261px;
    height: 96px;
  }
  .arrow-text {
    font-size: 20px;
    line-height: 1.6;
  }
  .hero-text {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 80px;
    max-width: 704px;
  }
}
/* ----hero1280---- */
@media screen and (min-width: 1280px) {
  .hero-section {
    padding: 184px 0 0 0;
  }
  .hero-title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .hero-title {
    font-size: 136px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    margin-bottom: 80px;
    max-width: 100%;
  }
  .title-box {
    max-width: 552px;
  }
  .hero-image-box {
    max-width: 592px;
    display: flex;
    margin-bottom: 0;
  }
  .hero-image {
    border-radius: 16px;
    height: 100%;
    max-height: 444px;
  }
  .hero-title {
    line-height: 1.15;
    margin-bottom: 80px;
    max-width: 100%;
    font-size: 124px;
    line-height: 1.19;
    letter-spacing: 0.01em;
  }
  .btn-text-box {
    display: flex;
    align-items: flex-start;
    gap: 136px;
    padding: 80px 0 80px 72px;
  }
  .hero-btn-box {
    width: 100%;
    max-width: 416px;
    display: flex;
    margin-bottom: 0;
  }
  .decor-points-bottom {
    bottom: 124px;
    left: 180px;
  }
  .arrow-icon {
    margin-right: 48px;
  }
  .hero-text-box {
    width: 100%;
    max-width: 592px;
  }
  .hero-text {
    font-size: 20px;
    line-height: 1.6;
  }
}
/* Media */
.media-container {
  background-color: var(--color-light-grey);
}
.media-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 24px;
}
.media-link {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black);
}
@media screen and (min-width: 768px) {
  .media-section {
    max-width: 768px;
    padding: 40px 0;
  }
  .media-container {
    display: block;
  }
  .media-link {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1158px) {
  .media-section {
    max-width: 1248px;
  }
  /* About */
  .about-section {
    padding-top: 80px;
    margin-bottom: 80px;
  }
  .about-main-title {
    font-family: "Impact", sans-serif;
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .about-box {
    border-radius: 16px;
  }
  .about-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 32px;
  }
  .about-text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.03em;
  }
}
.techskils-title {
  margin-bottom: 100px;
}
.main-footer {
  margin-top: 100px;
}

/* ------------------------- */
/* ------------------------- */
/* ----Benefits 320-360---- */
.animate-on-scroll {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.animate-on-scroll.visible {
  opacity: 1;
  transform: scale(1);
}

.benefits-title {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 40px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.icon {
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background-color: var(--color-light-accent);
  margin-bottom: 16px;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke: var(--color-accent-green);
}
.benefits-list-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 16px;
}
.benefits-list-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

/* ----Benefits 768---- */

/* ------position-version-- */
@media screen and (min-width: 768px) {
  .benefits-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--color-black);
    margin-bottom: 0;
    max-width: 704px;
  }
  .benefits-list-container {
    width: 100%;
    position: relative;
    padding-top: 240px;
  }

  .benefits-item {
    width: calc((100% - 32px) / 2);
  }
  .benefits-item:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
  }
  /* .benefits-item:nth-child(4) {
    flex: 0 0 50%;
  } */

  .benefits-list-title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-black);
    margin-bottom: 16px;
  }
  .benefits-list-text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--color-black);
    max-width: 360px;
  }
}
/* ----Benefits 1280---- */
@media screen and (min-width: 1280px) {
  .benefits-title-container {
    display: flex;
  }
  .benefits-title-box {
    max-width: 682px;
  }
  .benefits-background-container {
    width: 100%;
    background-image: url(../images/decor3.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
/* ----Footer 320px---- */
.section {
  padding: 40px 0 24px;
}
.footer {
  border-top: 1px solid var(--light-grey);
}
.footer-logo {
  font-family: "Impact", sans-serif;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  padding: 40px 0 32px;
  color: var(--color-black);
  text-transform: uppercase;
}
.logo-accent {
  color: var(--color-accent-green);
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}
.link {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.copyright-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.copyright-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-black);
}
/* ----Footer 768px---- */
@media screen and (min-width: 768px) {
  .footer-list {
    flex-direction: row;
    gap: 40px;
  }

  .copyright-box {
    flex-direction: row;
    justify-content: flex-end;
  }
  .copy {
    margin-right: 8px;
  }
}
/* ----Footer 1280px---- */
@media screen and (min-width: 1280px) {
  .footer-box {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }
  .footer-logo {
    padding: 0;
  }
  .footer-list {
    margin-bottom: 0;
  }
}
